.builders {
  margin-top: 2.625rem;
  position: relative;
  .builder-bg {
    display: none;
  }
  .builder-gradient {
    display: none;
  }

  @media (max-width:  62em) {
    .builder-bg {
      position: absolute;
      top: -10rem;
      width: 100%;
      right: 0;
      display: block;
      z-index: -1;
      img {
        max-width: none;
        width: 100%;
      }
    }
    .builder-gradient {
      position: absolute;
      top: -5rem;
      right: 0;
      display: block;
    }
  }
  @media (max-width:  30em) {
    .builder-gradient {
      display: none;
    }
    .builder-bg {
      display: none;
    }
  }
  .container {
   

    .builders-items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(32.5rem, 1fr));
      gap: 3.75rem;

      .builders-item {
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.47);
        background: $cyan;
        backdrop-filter: blur(50px);
        color: $black_v2;
        padding: 1.9375rem 36px 1.25rem 2.25rem;

        h3 {
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 150%;
          margin-bottom: 0.625rem;
          /* 24px */
        }
        p {
          font-size: 1rem;
          min-height: 6rem;
          margin-bottom: 1.375rem;
        }
        .main-button {
          margin: 0 auto;
          padding-top: 1.25rem;
          padding-bottom: 1.25rem;
          color: $black_v2;
          border-color: $black_v2;
          font-weight: 700;
          @media (hover:hover) {
            &:hover {
              background: #fff;
              border-color: transparent;
            }
          }

          @media (hover:none) {
            &:active {
              background: #fff;
              border-color: transparent;
            }
          }
        }
      }
    }
    @media (max-width: 80em) {
      .builders-items {
        grid-template-columns: repeat(auto-fill, minmax(28.5rem, 1fr));
      }

    } 

    @media (max-width: 73.75em) {
      .builders-items {
        
        gap: 1.875rem;
        grid-template-columns: repeat(auto-fill, minmax(25.5rem, 1fr));
      }

    } 

    @media (max-width: 62rem) {
      .builders-items {
        display: flex;
        gap: 1.875rem;
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;
        .builders-item {
          max-width: 32.5rem;
          width: 100%;
          margin: 0 auto;
          padding: 1.25rem 2.1875rem 1.25rem 2.1875rem;
         
        }
      }

    } 
    @media (max-width: 30em) {
      .builders-items {
        margin-top: 1.875rem;
      }
    }
  }
}
@media (max-width:  62em) {
  .builders {
    margin-top: 3.75rem;
  }
}