.empower {
  position: relative;
  margin-top: 8.25rem;
  .container {
    .empower-block {
     
      overflow: hidden;
      min-height: 18.75rem;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      position: relative;
      padding-left: 9.1875rem;
      padding-top: 4.375rem;
      padding-bottom: 5.5625rem;
      border-radius: 3.125rem;
      border: 0.0625rem solid rgba(255, 255, 255, 0.47);
      background: rgba(11, 11, 15, 0.70);
      backdrop-filter: blur(3.125rem);

      .empower-block__img {
        position: absolute;
        right: 0;
        top: 0;
        &.mobile {
          display: none;
        }
      }

      p {
        @include fluid-text(36, 24);
        font-style: normal;
        font-weight: 700;
        line-height: 130%;

        span {
          display: block;
        }

      }
    }
@media (max-width: 68.75em) {
  .empower-block {
    padding-left: 3.75rem;
    .empower-block__img {
      display: none;
      &.mobile {
        display: block;
        top: 41%;
      }
    }
   
  }
}
@media (max-width: 43.75em) {
  .empower-block {
    padding-right: 1.875rem;
    padding-top: 2.6875rem;
    padding-bottom: 2.5625rem;
    padding-left: 3.1875rem;
    height: auto;
    min-height: 0rem;
    .empower-block__img {
      &.mobile {
        display: none;
      }
    }
  }
}
@media (max-width: 30em) {
  .empower-block {
    margin-top: 3.75rem;
  }
}
    .empower-description {
      display: flex;
      flex-direction: column;
      row-gap: 1.875rem;
      padding: 4.1875rem 4.0625rem; /* 65px/1440 */
      max-width: 47.9375rem;
      margin: 0 auto;
      font-size: 16px;
      border-radius: 50px;
      border: 1px solid rgba(255, 255, 255, 0.47);
      margin-top: -4.375rem;
      
      background: rgba(11, 11, 15, 0.10);

      backdrop-filter: blur(50px);
    }

    @media (max-width: 62em) {
      .empower-description {
        max-width: 40rem;
      }
    }

    @media (max-width: 48em) {
      .empower-description {
        max-width: none;
        width: 100%;
        margin: 0;
        margin-top: 1.125rem;
      }
    }
    @media (max-width: 43.75em) {
      .empower-description {
        margin-top: 1.125rem;
      }
    }
    @media (max-width: 30em) {
      .empower-description {
        padding-right: 2.75rem;
        padding-top: 2.6875rem;
        padding-bottom: 2.5625rem;
        padding-left: 3.1875rem;
      }
    }
  }
  }

  @media (max-width: 62em) {
    .empower {
      margin-top: 5rem;
    }
    @media (max-width: 48em) {
      .empower {
        margin-top: 3.75rem;
      }
    }
  }
