.join {
  margin-bottom: 4.5625rem;
  margin-top: 10.0625rem;
  .container {
    .main-block {
      
      margin-bottom: 0rem;
    }
    .join-links {
      margin-top: 2.5rem;
      display: flex;
      column-gap: 1.25rem;
      align-items: center;
      a {
        svg {
          path {
            transition: 0.2s ease;
          }
          circle {
            transition: 0.2s ease;
          }
        }
        &:hover {
          svg {
            path {
            fill: $cyan;

            }

            circle {
              fill: $cyan;
             
            }
            path {
              &.link {
                fill: $black_v2;
              }
            }
          
        }
      }
      
    }
  }
}
}

@media (max-width: 48em) {
  .join {
    margin-top: 3.75rem;
    margin-bottom: 0rem;
  }
}