.meet {
  position: relative;
  .meet-bg {
    display: none;
  }
  .meet-gradient {
    display: none;
  }
  @media (max-width:  30em) {
    .meet-gradient {
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
     
        img {
          max-width: none;
          width: 100%;
        }
      
    }
  }
  margin-top: 5.375rem;

  .container {
    .main-block {
      max-width: 57.5rem;
      width: 100%;
      margin-left: 9.1875rem;
      align-items: flex-start;

      h2 {
        text-align: left;
      }

      p {
        text-align: left;
      }
    }
    @media (max-width: 73.75em) { 
      .main-block {
        p {
          max-width: 40rem;
        }
      }
    }

    @media (max-width: 60em) { 
      .main-block {
        margin-left: 0rem;
        p {
          max-width: 40rem;
          max-width: none;
        }
      }
    }
    .meet-wrapper {
      .star {
        display: none;
      }
      border-radius: 50px;
      background: rgba(11, 11, 15, 0.70);
      backdrop-filter: blur(3.125rem);
      padding: 3.125rem 3.125rem 2.5rem 3.125rem;

      .meet-items {
        column-gap: 8.125rem;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .meet-item__img {
          flex: none;
          img {
            max-width: none;
           
          }
        
        }

        .meet-item__block {
          height: auto;
          width: 100%;

          p {
            max-width: 23.125rem;
            color: $cyan;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            margin-bottom: 1.875rem;
            /* 24px */
          }
          ul {
            padding-left: 25px;
            display: flex;
            flex-direction: column;
            row-gap: 1.875rem;
            li {
              list-style-type: disc;
            }
          }
          .main-button {
            display: none;
          }
        }

      }
      .main-button {
        margin: 0 auto;
        margin-top: 2.125rem;
      }
    }
    @media (max-width: 73.75em) {
      .meet-wrapper {
        .meet-items {
          column-gap: 4.0625rem;
        }
      }
    }

    @media (max-width: 60em) {
      .meet-wrapper {
        .meet-items {
          column-gap: 2.125rem;
          .meet-item__img {
            max-width: 12.5rem;
            flex: none;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              max-width: none;
              border-radius: 25px;
             
            }
           
          }
          .meet-item__block {
            .main-button {
              display: flex;
              margin: 0;
              margin-top: 0.5rem;
            }
          }
        }
        .main-button {
          display: none;
        }
      }
    }

    @media (max-width: 43.75rem) {
      .meet-wrapper {
        .meet-items {
        flex-direction: column;

          column-gap: 2.125rem;
          .meet-item__img {
          display: flex;
          justify-content: center;
          margin: 0 auto;
            max-width: 12.5rem;
            flex: none;
            img {
              object-fit: cover;
              width: 100%;
              height: auto;
              max-width: none;
              border-radius: 25px;
             
            }
           margin-bottom: 1.125rem;
          }
          .meet-item__block {
            .main-button {
              display: flex;
              margin: 0 auto;
              margin-top: 2.375rem;
            }
          }
        }
        .main-button {
          display: none;
        }
      }
    }
    @media (max-width: 30em) {
      .meet-wrapper {
        padding: 3rem 1.3125rem 2.75rem 1.3125rem;
        .meet-items {
          .meet-item__block {
            ul {
              padding-left: 1.3125rem;
            }
          }
        }
      }
    }
  }
}